<ion-header>
  <ion-navbar color="primary" no-border-bottom>
    <ion-title>我的周报</ion-title>
  </ion-navbar>
</ion-header>


<ion-content style="padding:12px 16px 0px 16px">
  <div style="padding: 10px 10px 0px 10px">
    <ion-segment [(ngModel)]="myprofit_table">
      <ion-segment-button value="week_table"(click)=" showtable()">
        周报
      </ion-segment-button>
      <ion-segment-button value="sub_detail" (click)="hidetable()">
        下级详情
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="myprofit_table">
     
      <div *ngSwitchCase="'sub_detail'">  
         <div> 
          <hr>         
            <ion-item style="height: 20px;position: relative;padding-left: 20px;font-size: 1.35em" (click)="showRole()">
             {{ titletext }}
              <ion-fab style="position: absolute;right: 0px;top:0px;">
                <button ion-fab mini style="box-shadow: 2px 3px 3px #808080;margin-bottom: 5px"><ion-icon name="ios-list" style="font-size: 2.5em"></ion-icon></button>
              </ion-fab>

            </ion-item>  
            <div class="add-angle" id="add-angle"></div>
            <div class="add-menu" id="add-menu">
                <span style="border-bottom: 1px solid #ccc" (click)="showPromoter('promoter')" id="promoterSpan">代理</span>
                <span (click)="showGamer('gamer')" id="gamerSpan">玩家</span>              
            </div>   
         </div>       
          <div style="width: 100%;height:26px;padding:1px;font-size:1.23em;background-color: rgb(240, 240, 240)">
            <ion-row >
              <ion-col col-6 style="padding: 0px;text-align: center;color: #888">
                  用户名
              </ion-col>
               <ion-col col-6 style="padding: 0px;text-align: center;color: #888">
                  盈亏
              </ion-col>
            </ion-row>
          </div>
        <ion-item>
            <ion-list >
              <ion-item-sliding *ngFor="let item of subList" (click)="lookUpGamer(item)">
                <ion-item style="padding: 0px;" (click)="showhisProfit(item)">
                   <ion-row style="text-align: center">
                    <ion-col col-6 style="padding: 0px;text-align: center;">
                        {{item.nickname}}
                    </ion-col>
                    <ion-col class="wdwcolor" col-6 style="padding: 0 0 0 20px;text-align: center;" [ngStyle]="{'color':item.wdw < 0 ? 'green' : 'red' }">
                        {{item.wdw | number: '3.2-5'}}
                    </ion-col>                    
                  </ion-row>  
                </ion-item>    
                <ion-item-options>
                  <button ion-button color="fblue" icon-start>
                    <ion-icon name="medical"></ion-icon>
                    冻结账号
                  </button>
                </ion-item-options>

              </ion-item-sliding>
              <p *ngIf="length == 0" style="text-align: center">
                暂时没有数据！
              </p>
            </ion-list>
        </ion-item>
      </div>

      <div *ngSwitchCase="'week_table'" >
         <ion-card style="box-shadow:none;margin: 5px 12px 0 12px;">
              <ion-card-content center text-center style="padding-bottom: 0px;border-bottom: 1px solid #ccc;">
                <p style="color: #FFB415">本周结算</p>
                <p style="font-size:2.0em;color:rgb(234,86,72)">{{margin}}</p>
                <p style="color:#959595;margin-bottom: 10px;">总金额:<span>{{credit}}</span></p>
              </ion-card-content>
            <ion-row style="height: 18px">
              <ion-col center text-center class="f-border" >
                <button ion-button icon-left  clear small style="color:#959595" >
                  代理累计收益
                </button>
              </ion-col>
              <ion-col center text-center>
                <button ion-button icon-left clear small style="color:#959595">
                  玩家累计收益
                </button>
              </ion-col>
            </ion-row>
            <ion-row style="">
              <ion-col center text-center class="f-border">
                <button ion-button icon-left  clear small >
                 {{from_rep}}
                </button>
              </ion-col>
              <ion-col center text-center>
                <button ion-button icon-left clear small>
                  {{from_gamer}}
                </button>
              </ion-col>
            </ion-row>
          </ion-card>

          <div style="width: 100%;height:7px;background-color: rgb(240, 240, 240)"></div>
      </div>
    </div>
  <!-- <div style="width: 100%;height:7px;background-color: rgb(240, 240, 240)"></div> -->
  <div #container class="div-charts" id="container" padding></div> 
</ion-content>
