page-my-promoter {
  .f-add{position: absolute;top:15px;right:15px;}
 /*  // .list-ios ion-item-sliding{border-bottom: 1px solid rgb(204,204,204);background-color: #fff;}
 //.list-ios ion-item-sliding{border-bottom: 3px solid rgb(240,240,240);background-color: #fff;} */
  ion-searchbar {position: fixed;z-index: 10;}
  .searchbar-ios {background:#ccc;}
  .list-ios {margin: 40px 0 32px;}
}

